/* App.css or Spinner.css */

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .fa-spin {
    color: #0a91eb; /* Choose your desired color */
  }
  
  .spinner-message{
    margin-left: 10px;
    color: #0a91eb; /* Choose your desired color */
    font-weight: bold;
  }